{% for d in site.days %}
    {% if d.title == page.title %}
        {% unless forloop.first %}
            <a href="{{ site.absoluteurl }}{{ site.baseurl }}{{ prev.url }}" class="prev">{{ prev.title }}</a>
        {% endunless %}
        {% unless forloop.last %}
            {% assign next = site.days[forloop.index] %}
            <a href="{{ site.absoluteurl }}{{ site.baseurl }}{{ next.url }}" class="next">{{ next.title }}</a>
        {% endunless %}

    {% endif %}
    {% assign prev = d %}
{% endfor %}
